Repository NFDI4Culture/ANTELOPE: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add minimum small viewport styles
  frontend/src/assets/scss/_elements.scss
  frontend/src/assets/scss/main.scss
  frontend/src/assets/scss/shared/_mixins.scss
  frontend/src/assets/scss/shared/_variables.scss
  frontend/src/components/FooterComponent.vue
  frontend/src/components/OverlayComponent.vue
  frontend/src/components/TabsComponent.vue
  frontend/src/views/DocumentationView.vue
  frontend/src/views/HomeView/HomeView.vue
  frontend/src/views/HomeView/results/ResultsComponent.vue
  frontend/src/views/HomeView/results/ResultsGraphComponent.vue
  frontend/src/views/HomeView/search/SearchComponent.vue
Due: none

Add smaller root font size for small viewport
  README.md
  frontend/src/assets/scss/_elements.scss
  frontend/src/assets/scss/_typography.scss
  frontend/src/assets/scss/shared/_mixins.scss
  frontend/src/components/OverlayComponent.vue
  frontend/src/components/TabsComponent.vue
  frontend/src/views/HomeView/HomeView.vue
  frontend/src/views/HomeView/results/ResultsTableComponent.vue
  frontend/src/views/HomeView/search/SearchEntityComponent.vue
  frontend/src/views/HomeView/search/SearchImageComponent.vue
  readme/antelope-architecture.png
  readme/antelope-screenshot.png
Due: none

Enable about overlay
  .lintstagedrc
  .prettierignore
  frontend/dist/index.html
  frontend/src/assets/img/antelope-architecture-ui.svg
  frontend/src/assets/img/antelope-interaction-graph.png
  frontend/src/components/OverlayComponent.vue
  frontend/src/views/HomeView/HomeView.vue
  frontend/src/views/HomeView/overlays/AboutOverlay.vue
  frontend/src/views/HomeView/results/ResultsGraphComponent.vue
  frontend/src/views/HomeView/results/ResultsTableComponent.vue
  readme/README.md
Due: none

Update package.json
  frontend/package.json
Due: none

Disable auto show sidebar after manual toggle
  frontend/dist/index.html
  frontend/package.json
  frontend/src/components/InfoComponent.vue
  frontend/src/views/HomeView/HomeView.vue
Due: none

Enhance graph presentation
  frontend/dist/assets/Roboto-400-BHeBnKzs.ttf
  frontend/dist/assets/Roboto-600-BKtbn9Wi.ttf
  frontend/dist/assets/RobotoCondensed-200-auzyh5qz.ttf
  frontend/dist/assets/RobotoCondensed-400-DH9YXVn8.ttf
  frontend/dist/assets/RobotoCondensed-600-BLbfnhW5.ttf
  frontend/dist/assets/apple-touch-icon-180x180-D5fkWhNi.png
  frontend/dist/assets/favicon-128x128-BSOpR7ZV.png
  frontend/dist/assets/favicon-16x16-d7a20817.png
  frontend/dist/assets/favicon-256x256-CCgoASD5.png
  frontend/dist/assets/favicon-32x32-CGuyyDzt.png
  frontend/dist/assets/favicon-De6-wyPT.ico
  frontend/dist/assets/version.txt
  frontend/dist/index.html
  frontend/src/components/OverlayComponent.vue
  frontend/src/views/HomeView/overlays/AboutOverlay.vue
  frontend/src/views/HomeView/results/ResultsGraphComponent.vue
Due: none

Add new email address to footer
  frontend/src/components/FooterComponent.vue
Due: none

Update README.md
  README.md
  readme/README.md
Due: none

Enhance search parameter validation
  frontend/src/views/HomeView/search/SearchEntityComponent.vue
  frontend/src/views/HomeView/search/SearchImageComponent.vue
Due: none

Remove unused classes and respective tests from backend
  backend/src/main/java/org/tib/osl/annotationservice/security/DomainUserDetailsService.java
  backend/src/main/java/org/tib/osl/annotationservice/security/UserNotActivatedException.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/AccountResource.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/ClientForwardController.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/PublicUserResource.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/UserJWTController.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/UserResource.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/errors/BadRequestAlertException.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/errors/EmailAlreadyUsedException.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/errors/ErrorConstants.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/errors/ExceptionTranslator.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/errors/FieldErrorVM.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/errors/InvalidPasswordException.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/errors/LoginAlreadyUsedException.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/errors/package-info.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/package-info.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/vm/KeyAndPasswordVM.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/vm/LoginVM.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/vm/ManagedUserVM.java
  backend/src/main/java/org/tib/osl/annotationservice/web/rest/vm/package-info.java
  backend/src/test/java/org/tib/osl/annotationservice/config/timezone/HibernateTimeZoneIT.java
  backend/src/test/java/org/tib/osl/annotationservice/security/DomainUserDetailsServiceIT.java
  backend/src/test/java/org/tib/osl/annotationservice/service/UserServiceIT.java
  backend/src/test/java/org/tib/osl/annotationservice/web/rest/AccountResourceIT.java
  backend/src/test/java/org/tib/osl/annotationservice/web/rest/ClientForwardControllerTest.java
  backend/src/test/java/org/tib/osl/annotationservice/web/rest/PublicUserResourceIT.java
  backend/src/test/java/org/tib/osl/annotationservice/web/rest/TestUtil.java
  backend/src/test/java/org/tib/osl/annotationservice/web/rest/UserJWTControllerIT.java
  backend/src/test/java/org/tib/osl/annotationservice/web/rest/UserResourceIT.java
  backend/src/test/java/org/tib/osl/annotationservice/web/rest/WithUnauthenticatedMockUser.java
  backend/src/test/java/org/tib/osl/annotationservice/web/rest/errors/ExceptionTranslatorIT.java
  backend/src/test/java/org/tib/osl/annotationservice/web/rest/errors/ExceptionTranslatorTestController.java
  readme/README.md
Due: npx prettier --write

added server maintenance commands
  readme/README.md
Due: none

fixed entitylinking backend method to support dict parameter
  backend/src/main/java/org/tib/osl/annotationservice/service/AnnotationService.java
  backend/src/main/java/org/tib/osl/annotationservice/service/VecnerClient.java
Due: npx prettier --write

Replicate entity linking options for image search
  frontend/src/views/HomeView/search/SearchEntityComponent.vue
  frontend/src/views/HomeView/search/SearchImageComponent.vue
Due: none

Add search tab change results history
  frontend/src/services/RestService.ts
  frontend/src/views/HomeView/search/SearchComponent.vue
Due: npx prettier --write, npx eslint --fix

Copy API page swagger dependencies to inline (no CSP)
  frontend/api.html
  frontend/src/views/HomeView/search/SearchComponent.vue
Due: none

Update README.md
  README.md
  frontend/src/views/HomeView/results/ResultsGraphComponent.vue
Due: none

Prevent entity mark line wrap
  README.md
  frontend/src/assets/scss/_elements.scss
Due: none

Configure production build for service reverse proxy
  .prettierignore
  frontend/.env.production
  frontend/api.html
  frontend/index.html
  frontend/package.json
  frontend/vite.config.ts
Due: none

Adjust API client service for service reverse proxy
  .prettierignore
  frontend/src/components/FooterComponent.vue
  frontend/src/services/RestService.ts
Due: npx prettier --write, npx eslint --fix

Exclude api page from Vite parsing
  .prettierignore
  frontend/api.htm
  frontend/scripts/build-api.js
  frontend/src/services/RestService.ts
  frontend/src/views/HomeView/HomeView.vue
  readme/README.md
Due: npx prettier --write, npx eslint --fix

Add missing documentation links
  frontend/src/views/HomeView/HomeView.vue
  frontend/src/views/HomeView/overlays/IntegrationOverlay.vue
Due: none

updated imageRecognition api and add iconclass dict boolean
  backend/src/main/java/org/tib/osl/annotationservice/service/AnnotationService.java
  backend/src/main/resources/swagger/api.yml
Due: npx prettier --write

allow empty value for iconclass param at api call
  backend/src/main/java/org/tib/osl/annotationservice/service/AnnotationService.java
Due: npx prettier --write

Rewrite SwaggerUI base URL for production
  .prettierignore
  backend/src/main/resources/swagger/openapi (1).yaml
  backend/src/main/resources/swagger/openapi3_0.yaml
  frontend/.gitignore
  frontend/api.htm
  frontend/assets/version.txt
  frontend/scripts/build-api.js
  frontend/scripts/build-docs.js
  package.json
Due: npx prettier --write

Swap entity linking similarity slider captions
  frontend/src/views/HomeView/search/SearchEntityComponent.vue
Due: none

Fix image recognition empty dictionary iconclass fallback
  frontend/src/views/HomeView/results/HTMLResultsComponent.vue
  frontend/src/views/HomeView/search/SearchImageComponent.vue
Due: none

fixed iconclass dict imageRecognition
  backend/src/main/java/org/tib/osl/annotationservice/service/AnnotationService.java
Due: npx prettier --write

Replace previously temporary image recognition bar char by temporarily flat table
  frontend/src/assets/scss/_elements.scss
  frontend/src/views/HomeView/results/HTMLResultsComponent.vue
  frontend/src/views/HomeView/search/SearchComponent.vue
Due: none

Update .gitignore
  frontend/.gitignore
Due: none

Add tab change history restore for temporary image recognition flat table
  frontend/src/views/HomeView/search/SearchComponent.vue
Due: none

Limit temporary image recognition flat table size at 50
  frontend/src/views/HomeView/search/SearchComponent.vue
Due: none

Add TS4TIB collection/ontology sub selection
  frontend/src/components/CheckbuttonComponent.vue
  frontend/src/components/LoaderComponent.vue
  frontend/src/interfaces.ts
  frontend/src/views/HomeView/HomeView.vue
  frontend/src/views/HomeView/results/ResultsGraphComponent.vue
  frontend/src/views/HomeView/search/SearchTerminologyComponent.vue
Due: npx prettier --write, npx eslint --fix

Add TS4TIB options overflow scroll
  frontend/src/views/HomeView/search/SearchTerminologyComponent.vue
Due: none

Increase entitiy linking text charachter limit
  .editorconfig
  frontend/src/assets/scss/_elements.scss
  frontend/src/components/CheckbuttonComponent.vue
  frontend/src/components/TextareaComponent.vue
  frontend/src/views/HomeView/search/SearchComponent.vue
  frontend/src/views/HomeView/search/SearchEntityComponent.vue
  frontend/src/views/HomeView/search/SearchImageComponent.vue
  frontend/src/views/HomeView/search/SearchTerminologyComponent.vue
  frontend/src/views/HomeView/search/mock.entity.json
  frontend/src/views/HomeView/search/mock.image.json
  frontend/src/views/HomeView/search/mock.terminology.json
  frontend/tsconfig.node.json
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  npx prettier --write: (any of: ./backend/**/*) or (any of: ./frontend/src/**/*.ts)
  npx eslint --fix: any of: ./frontend/src/**/*.ts
